[submodule "libs/webgl"]
	path = libs/webgl
	url = git@github.com:guckstift/webgl.git
[submodule "libs/spritegl"]
	path = libs/spritegl
	url = git@github.com:guckstift/spritegl.git
[submodule "libs/glmath"]
	path = libs/glmath
	url = git@github.com:guckstift/glmath.git
